
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin:0px 100px;
}
.container-head{
    display: flex;
}
.header {
    background-image: url(/photos/bg.png);
	height: 880px;
	background-repeat: no-repeat;
    background-size:cover;
    width: 1440px;
    position: relative;

}
h1 {
    top: 91px;
    font-size: 45px;
    font-weight: 700;
    line-height: 54.86px;
}
h1 .highlight {
    color: #f15a24;
}
.high1{
    color: #272727;
    font-weight: bold;
}

.presenter-info {
    display: flex;
    flex-direction: column;
    font-size: 22px ;
}

.presenter {
    display:flex;
    align-items:center;
}

.presenter img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: 10px;
}

.topics {
    margin-top: 15px;
    display: grid;
    grid: repeat(2, auto) / auto-flow;
    gap: 10px;

}

.topic {
    padding-left: 20px;
    padding-top: 15px;
    width: 344px;
    font-size: 18px;
    line-height: 21.94px;
    border: 2px;
    border-color: #D6D6D6;
    border-style: solid;
}

.details {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 500;
}
.date-time,.live-webinar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-time,
.live-webinar {
    padding: 10px 10px;
    gap: 10px;
}
.head-flow{
    display: flex;
    flex-direction: column;
}

.head-flow1{
    display: block;
}
.flowchart{
    display: flex;
}

.flowchart img {
    max-width: 100%;
    margin-top: 91px;
    margin-left: 56px;

}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.participate-button {
    background-color: #f15a24;
    color: white;
    padding:20px, 30px, 20px, 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
    height: 74px;
    width: 244px;
    line-height: 19.5px;
}
.participate-button img {
    display: flex;
}

.organizers img {
    height: 250px;
    top: 155px;
    left: 870px;
    justify-content: flex-end;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=tel] {
    flex: 1;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=email]:focus,
.form-container input[type=tel]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #3e4b5b;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin:  5px 0;
}

.form-container .btn:hover {
    background-color: #334155;
}
.rect{
    height: 876px;
    width: 1440px;
    border-color:#D6D6D6;
    background-color:#FFF;
    border-radius: 50px;
    border-style:solid;
    margin-top: -50px;
    z-index: 999;
    position: relative;



}
.footer{
	background-color: #272727;
	height: 82px;
    display: flex;	
    
}
.footer-text , .footer-text1{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
}
.footer-text {
    margin-left: 100px;
}

.header-line1 {
    font-size: 45px;
    margin-top: 50px;
}
.for img{
   height:  320px;
   align-items:center;
   margin-top: 50px;
   display: flex;
}
.b1 {
    display: flex;
    background-color: #C1A356;
    line-height: 21.94px;
    border-style: solid;
    color: white;
    height: 47px;
    justify-content: center;
    width: 286px;
    align-items:center;
}
.b3 {
    display: flex;
    background-color: #C1A356;
    border-style: solid;
    color: white;
    height: 47px;
    align-items: center;
    margin-top: 29px;
    width: 390px;
    margin-top: 40px;
    justify-content: center;
}
.b3 p{
    line-height:26.82px;
}

.b2 {
    display: flex;
    background-color: #C1A356;
    line-height: 21.94px;
    border-style: solid;
    color: white;
    width: 139px;
    height: 47px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.b2,.b1,.b3 p{
    font-size: 22px;
    font-weight: 700;
}
.topics1 {
    display: grid;
    grid-template-columns: 395px 520px;
    gap: 10px;
}

.topic3,.topic4,.topic5,.topic6 {
    font-size: 18px;
    line-height: 21.94px;
    border: 1px;
    border-color: #C0A458;
    border-style:  solid;
    height: 80px;
    font-weight: 400;
    
}
.topic3,.topic4,.topic5,.topic6 p {
    padding-left: 20px;
}

.osob {
    background-color:#272727;
    background-image:url(photos/image\ 1.png);
    background-repeat:no-repeat;
    height: 740px;
    width: 1440px;
    margin-top: -50px;
    

}
.line2 {
    color:#FFFFFF;
    font-size:45px;
    padding-top: 80px;
}

.topics2 {
    display: grid;
    grid: repeat(2, 136px) / auto-flow 535px;
    gap: 60px;
    margin-top: 79px;
    margin-left: 30px;
}

.topic2 {
    position: relative;
    background-color: white;
    font-size: 18px;
    line-height: 21.94px;
    border: 2px;
    border-color: #ffffff;
    border-style: 1rem solid;
    color:black;
    align-items:center;

}
.topic2 p {
    padding-left: 20px;
    padding-top: 10px;

}
.orange-r {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color:#FF4013;
    top: -25px;
    left:-25px;
}

.container1{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
.footer2{
    display: flex;
}

.form-container2{
    display:flex;
}
.organizers1 {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 40px;
    align-items: end;
}
.flex {
    display: flex;

}
.for1 {
    display: flex;
    flex-direction: column;
    margin: 50px 59px;

}
.head-flow2 img{
    height: 314px;
    width: 611px;
    margin-top: 75px;
    margin-right: 112px;
}
.line {
margin-top: 80px;
}

ul {
    color:#C1A356;
    list-style-type: disc;
}
.business {
    color:black;
}
.text5 {
    color:#272727
}
.orange-r img {
    width: 42px;
    height: 18px;
    margin-top: 10px;
    margin-left: 0px;
}
.footer-text {
    margin-left: 100px;
    column-count:2;
    column-gap: 900px;
    text-align: line;
    display: flex;
    align-items:center;
    justify-content: center;
}

.last-h1 h1 {
    margin-top: 122px;
}
.footer2 {
    margin-top: 97px;
    margin-bottom: 80px;
}
.two-columns {
    column-count: 2; 
    column-gap: 20px; 
}
.footer-text a {
    text-decoration: none; 
    color: white;
}
}